.label-style{
    font-size: 16px;
    color: #555555;
}

.field-style{
    background-color: #EEEEEE;
    outline: none;
    border-radius: 8px;
    padding: 13px 10px;
}

.field-style::placeholder{
    font-size: 14px;
    color: #555555;
}

.custom-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.otp-style{
    /* border: 1px solid black; */
    border-radius: 2px;
    font-size: 25px;
    background-color: #EEEEEE;
    color: #313131;
}
