@tailwind base;
@tailwind components;
@tailwind utilities;



  body::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #3869EB; /* Color of the scrollbar thumb */
    height: 50px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }